<div class="container-fluid w-100 h-100 p-absolute m-0 p-0">
  <div class="container modalWindow p-3 rounded" style="color:black;" [ngStyle]="{'width': width}">
    <div class="row m-0 p-0">
      <div class="col-2" *ngIf="icon !== undifined">
        <img src="{{icon}}" width="100%" height="auto" alt="">
      </div>
      <div class="col-auto">
        <div class="h4">{{title}}</div>
        <div *ngIf="discription !== null" class="row mx-1">{{discription}}</div>
      </div>
    </div>
    <div class="row m-0 p-0" *ngIf="input.hasVisible">
      <div class="form-group btn-block">
        <input *ngIf="input.hasVisible && input.placeholder !== undefined" type="text" class="form-control"
          placeholder="{{input.placeholder}}" [(ngModel)]="inputData">
        <input *ngIf="input.hasVisible && input.placeholder === undefined || !input.hasVisible" type="text"
          class="form-control" [(ngModel)]="inputData">
      </div>
    </div>
    <div class="row my-2">
      <div *ngFor="let item of buttonArray;let ind = index" class="col">
        <button class="btn {{item.class}} btn-block" tabindex="{{ind+1}}" (click)="onClick(el);"
          #el>{{item.title}}</button>
      </div>
    </div>
  </div>
</div>