<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-3 h-100">
      <div class="row h-15 my-3 justify-content-center" *ngFor="let el of elements;let ind = index;"
        [ngClass]="{'table-primary': currentItemGroup-1 === ind}">
        <div class="col h-100 text-center">
          <img src="{{el.src}}" height="80%" width="auto" alt="">
          <div class="h5">{{el.title}}</div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div *ngFor="let item of elements;let ind2 = index;" class="">
        <div *ngIf="currentItemGroup-1 === ind2" class="row">
          <div class="col">
            <div *ngFor="let i of item.items; let num = index">
              <div class="text-center" *ngIf='num<4' [ngClass]="{'table-primary': currentItem-1 === num && !isGroup}">
                <img src="{{i.src}}" alt="" width="100%" height="auto" style="max-height:22vh; max-width: 11vw;">
                <div class="div">{{i.title}}</div>
              </div>

            </div>
          </div>
          <div class="col">
            <div *ngFor="let i of item.items; let num = index">
              <div class="text-center" *ngIf='num>=4 && num<8'
                [ngClass]="{'table-primary': currentItem-1 === num && !isGroup}">
                <img src="{{i.src}}" alt="" width="100%" height="auto" style="max-height:22vh; max-width: 11vw;">
                <div class="div">{{i.title}}</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div *ngFor="let i of item.items; let num = index">
              <div class="text-center" *ngIf='num>=8' [ngClass]="{'table-primary': currentItem-1 === num && !isGroup}">
                <img src="{{i.src}}" alt="" width="100%" height="auto" style="max-height:22vh; max-width: 11vw;">
                <div class="div">{{i.title}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Диалоговые окна  -->

<!-- <app-dialog-window [title]="titleModal" [discription]="discriptonModal" [buttonArray]="buttonArrayModal" [width]="widthModal" [icon]="iconModal" [input]="{hasVisible: true, placeholder: 'asd'}" (onClickButton)="onDialogClick($event)" *ngIf="isShowedDialog"></app-dialog-window> -->

<!-- <app-dialog-window [title]="titleModal" [discription]="discriptonModal" [buttonArray]="buttonArrayModal" [width]="widthModal" [icon]="iconModal" [input]="{hasVisible: false}" (onClickButton)="onDialogClick($event)" *ngIf="isShowedDialog"></app-dialog-window> -->

<app-dialog-window [title]="titleModal" [discription]="discriptonModal" [buttonArray]="buttonArrayModal" [width]="widthModal" [icon]="iconModal" [inputs]="inputsModal" (onClickButton)="onDialogClick($event)" *ngIf="isShowedDialog"></app-dialog-window>

<!--  Диалоговые окна  -->